#header{
    width: 100%;
    background-color: black;
    display:flex;
    padding: 20px 0 20px 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
}

#header h1{
    font-size: 60px;
    border:#483D8B solid 2px;
    border-radius:188px;
    padding:10px;
    cursor: pointer;
    color:#483D8B;
    transition:1s;
}

#header h1:hover{
    transform: scale(1.2, 1.2);
}
