.sobre-min{
    display: none;
}

#sobre{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:60px;
    margin-top:130px;
}

#buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sobre button{
    color:black;
    cursor:pointer;
    background-color: #ffffff;
    border: none;
    width: 30%;
    height: 48px;
    font-size: 20px;
    font-weight: bold;
    margin:2px;
    transition:1s;
}
#sobre button:hover{
    color:white;
    background-color: #483D8B;
}

#sobre .sobre-min.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
}

.icon-redes{
    width: 20px;
}

.foto-minha{
    width: 200px;
    border: solid white 1px;
    border-radius: 200px;
}

#sobre h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom:30px;
    color: #483D8B;
}

#sobre .sobre-min.active .infos{
    display: flex;
    align-items: center;
    justify-content: center;
}

#sobre .sobre-min.active .infos div{
    display: flex;
    flex-direction: column;
}

#sobre .sobre-min.active nav{
    margin-top: 20px;

}
#sobre .sobre-min p{
    width: 300px;
    margin-left: 20px;
}
#sobre .sobre-min.active p{
    margin-bottom:30px;

}

#sobre .sobre-min.active a{
    transition: 1s;
    font-weight: bold;
}

#sobre .sobre-min a:hover{
    color: #483D8B;
    transition: 1s;
    transform: scale(1.2, 1.2);

}

.hard-skills, .soft-skills{
    display:none;
}

